/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* wildcard selector added to overide default browser settings - used from love running project*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general styles */
header {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 2px 2px #3a3a3a;
}

/* styles for dropdown menu, mobile view */

nav {
    position: absolute;
    width: 100%;
    right: 0;
    display: none;
    top: 100%;
    box-shadow: 2px 2px black;
}

.nav-dropdown-label {
    padding-right: 20px;
    color: #000000;
}

/* nav toggle */

#nav-dropdown:checked~nav {
    display: block;
}

#nav-dropdown {
    display: none;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* standard styling */

#heading-one-mobile {
    font-size: medium;
    font-weight: bolder;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    justify-content: left;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    letter-spacing: 2px;
}

#nav-links-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 5px;
    background-color: #ffffff;
    border-radius: solid 2px;
    list-style-type: none;
}

a:-webkit-any-link {
    color: #000000;
    font-weight: bolder;
    text-decoration: none;
}

#social-media-links a:-webkit-any-link {
    color: #ffffff;
}

/* Body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
}

#first-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70%;
    padding-top: 40px;
    padding-bottom: 5px;
    background-color: #000000;
    order: 1;
}

#first-heading {
    color: #ffffff;
}

.acoustic-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.electric-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.acoustic-image-one {
    width: 270px;
    height: 270px;
    padding-top: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#second-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70%;
    padding-top: 6px;
    padding-bottom: 5px;
    background-color: #ffffff;
    color: #000000;
    border: solid 2px black;
    margin-top: 1px;
}

.electric-image-one {
    display: flex;
    width: 270px;
    height: 270px;
    padding-top: 10px;
    border-radius: 50%;
    padding-top: 10px;
    margin-bottom: 12px;
}

/* styling to remove from mobile view */
#quote-one {
    display: none;
}

#quote-two {
    display: none;
}

/* Footer */
footer {
    background-color: #000000;
    color: white;
    height: 50px;
    margin-top: auto;
}

#social-media-links {
    display: flex;
    flex-direction: row;
    color: white;
    list-style-type: none;
    justify-content: space-evenly;
    padding-top: 15px;
}


/* Media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {

    /* header */

    header {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #heading-one-mobile {
        padding-left: 20px;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #nav-links-header {
        display: flex;
        flex-direction: row;
    }

    #nav-links-header>li {
        padding-left: 1rem;
    }

    .nav-dropdown-label {
        display: none;
    }

    /* main content */

    .acoustic-image {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 370px;
        max-height: 370px;
    }

    #quote-one {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }

    .electric-image {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 370px;
        max-height: 370px;
    }

    #quote-two {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 25px;
    }

    .acoustic-image-one {
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 380px;
    }

    #second-heading {
        margin-top: 35px;
    }

    .electric-image-one {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 380px;
    }

    /* footer */


}

/* Media query: laptops and desktops (992px and up) */

@media screen and (min-width: 992px) {

    /* Hover added to nav links on larger screens - used template from love running project */

    #nav-links-header a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    /* styles for text and images */

    .acoustic-image-one {
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 650px;
    }

    #second-heading {
        margin-top: 64px;
    }

    .electric-image-one {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 35px;
        margin-bottom: 30px;
        margin-left: 650px;
    }

    #quote-two {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        margin-left: 60px;
        margin-right: 30px;
        margin-bottom: 25px;
    }
}

/* Media query: laptops and desktops (992px and up) */

@media screen and (min-width: 1200px) {

    /* Hover added to nav links on larger screens - used template from love running project */

    #nav-links-header a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    /* main content */

    /* styles for text and images */

    .acoustic-image-one {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 35px;
        margin-bottom: 30px;
        margin-left: 1525px;
    }

    #quote-one {
        font-size: 30px;
    }

    .electric-image-one {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 35px;
        margin-bottom: 30px;
        margin-left: 1525px;
    }

    #quote-two {
        font-size: 30px;
    }

}