/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* wildcard selector added to overide default browser settings - used from love running project*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general styles */
header {
    background-color: #7a0e0e;
}

#heading-one-mobile {
    font-size: medium;
    font-weight: bolder;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ffffff;
}

#nav-links-header {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 1px;
    padding-top: 1px;
    background-color: #7a0e0e;
    border-radius: solid 2px;
    text-decoration: none;
}

a:-webkit-any-link {
    color: #ffffff;
    font-weight: bolder;
}

footer ul a {
    color: #ffffff;
}

/* Body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

#main-section-page-one {
    position: relative;
}

#first-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #000000;
    color: #7a0e0e;

}

.middle-image-one {
    background: url(../images/latest\ guitar\ image.jpg) no-repeat;
    height: 300px;
    width: 100%;
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

#second-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffffff;
    color: #000000;
}

.bottom-image-one {
    background: url(../images/electric\ guitar\ 1.jpg) no-repeat;
    height: 300px;
    width: 100%;
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
footer {
    background-color: #000000;
    color: white;
    height: 50px;
    margin-top: auto;
}

#social-media-links {
    display: flex;
    flex-direction: row;
    color: white;
    list-style-type: none;
    justify-content: space-evenly;
    padding-top: 15px;
}